<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <input type="text" id="in_my_peer_id">
    <input type="text" id="remote_peer_id">
    <video autoplay playsinline id="local_video"></video>
    <video autoplay playsinline id="remote_video"></video>
<button id="btn">start</button>
</body>
<script type="text/javascript">
    var inMyPeerId = document.querySelector("input#in_my_peer_id");
    var btLogin = document.querySelector("button#bt_login");
    var localVideo = document.querySelector("video#local_video");
    var remoteVideo = document.querySelector("video#remote_video");
    var inRemoteId = document.querySelector("input#remote_peer_id")
    document.querySelector("button#btn").onclick=function (){
        remoteRtcPeerId = inRemoteId.value;
        StartCall(true,remoteRtcPeerId);
    }

    var wsConn = new WebSocket("wss://localhost:8443/websocket");
    var rtcPeerConn = null;
    var localStream = null;
    var remoteStream = null;
    var remoteRtcPeerId = null;
    var candidate = [];

    var ICE_CFG = {
        iceServers:[{
            urls: 'stun:192.168.88.10',
        }]
    }
  wsConn.onopen = function (){

  }
  wsConn.onclose = function (){

  }
  wsConn.onerror = function (e){
    console.log("error: "+e)
  }

  function CreateRtcPeerConnection() {
      if (rtcPeerConn){
          return;
      }
      rtcPeerConn = new RTCPeerConnection(ICE_CFG);
      console.log(rtcPeerConn)
      rtcPeerConn.onicecandidate = (event)=>{
          if (event.candidate){
              var proxyCandidateMessage = {
                  messageId: 'PROXY',
                  type: 'candidate',
                  fromPeerId: inMyPeerId.value,
                  toPeerId: remoteRtcPeerId,
                  messageData: {
                      candidate: event.candidate
                  }
              };
              console.log("candidate: ")
              console.log(event.candidate)
              wsConn.send(JSON.stringify(proxyCandidateMessage));
          }
      }
      rtcPeerConn.onconnectionstatechange = (event)=>{

      }
      rtcPeerConn.ontrack = (event)=>{
          console.log("ontrack")
          console.log(event.track)
          if (remoteStream === null){
              remoteStream = new MediaStream();
              remoteVideo.srcObject = remoteStream;
              console.log("Stream bind")
              remoteVideo.style.display = 'inline-block';
          }
          remoteStream.addTrack(event.track);
      }
  }

  async function GetLocalMediaStream() {
      if (!navigator.mediaDevices || !navigator.mediaDevices.getUserMedia){
          return null;
      }else if (localStream){
          return localStream;
      }else {
          var constraints = {
              video: true,
              // audio: true
          };
          // var stream = await navigator.mediaDevices.getUserMedia(constraints);
          var stream =await  navigator.mediaDevices.getDisplayMedia(constraints);
          console.log(stream)
          return stream;
      }
  }
  function CloseLocalMediaStream(){
      if (localStream != null){
          localStream.getTracks().forEach((track)=>{
              track.stop()
          })
          localStream = null;
      }
  }
  function CloseRtcPeerConnection(){
      if (remoteStream !=null){
          remoteStream.getTracks().forEach((track)=>{
              track.stop()
          })
          remoteStream = null;
      }
  }
  function AttachMediaStreamToLocalVideo(){
      localVideo.srcObject = localStream;
      localVideo.muted = true;
      localVideo.style.display = 'inline-block'
  }
  function AttachMediaStreamToPeerConnection(){
      localStream.getTracks().forEach(track=>{
          console.log("tracks: ")
          console.log(track)
          rtcPeerConn.addTrack(track);
      });
  }
  function CreateOffer(){
      var offerOptions = {
          offerToReceiveVideo: true,
          offerToReceiveAudio: true
      };
      rtcPeerConn.createOffer(offerOptions).then(desc=>{
          rtcPeerConn.setLocalDescription(desc);
          var proxySdpMessage = {
              messageId: 'PROXY',
              type: 'sdp',
              fromPeerId: inMyPeerId.value,
              toPeerId: remoteRtcPeerId,
              messageData:{
                  type: 'offer',
                  sdp:desc
              }
          };
          console.log("sendMessage: "+proxySdpMessage)
          wsConn.send(JSON.stringify(proxySdpMessage));
      }).catch(e=>{
          console.log("error: "+e)
      })
  }
  function CreateAnswer(){
        rtcPeerConn.createAnswer().then(desc=>{
            rtcPeerConn.setLocalDescription(desc);
            var proxyMessage = {
                messageId: 'PROXY',
                type: 'sdp',
                fromPeerId: inMyPeerId.value,
                toPeerId: remoteRtcPeerId,
                messageData:{
                    type: 'answer',
                    sdp: desc
                }
            }
            wsConn.send(JSON.stringify(proxyMessage));
        }).catch(e=>{
            console.log("error: "+e)
        })
  }

  async function StartCall(isInitiator, remotePeerId) {
      remoteRtcPeerId = remotePeerId;
      CreateRtcPeerConnection();
      localStream = await GetLocalMediaStream();
      console.log(localStream)
      await AttachMediaStreamToLocalVideo();
      await AttachMediaStreamToPeerConnection();
      if (isInitiator) {
          var startCallMessage = {
              messageId: 'PROXY',
              type: 'start_call',
              fromPeerId: inMyPeerId.value,
              toPeerId: remotePeerId
          }
          wsConn.send(JSON.stringify(startCallMessage))
      } else {
          var receiveCallMessage = {
              messageId: 'PROXY',
              type: 'receive_call',
              fromPeerId: inMyPeerId.value,
              toPeerId: remotePeerId
          }
          wsConn.send(JSON.stringify(receiveCallMessage))
      }
  }
  function EndCall(){
        CloseLocalMediaStream();
        CloseRtcPeerConnection();
        localVideo.style.display='none';
        remoteVideo.style.display='none';
        remoteStream = null;
        remoteRtcPeerId = null;
  }
  function HandleOfferSdp(data){
        rtcPeerConn.setRemoteDescription(new RTCSessionDescription(data)).then(()=>{
            CreateAnswer();
        }).catch(err=>{
            console.log("error: "+err)
        })
  }
  function HandleAnswerSdp(data){
        rtcPeerConn.setRemoteDescription(new RTCSessionDescription(data))
  }
  function HandleCandidate(data){
        rtcPeerConn.addIceCandidate(new RTCIceCandidate(data));
  }


    wsConn.onmessage = function (event){
      var message = event.data;
      var messageObj = JSON.parse(message)
      if (messageObj.messageId === 'CURRENT_PEERS'){

      }else if (messageObj.messageId === 'PEER_JOIN'){

      }else if (messageObj.messageId === 'PEER_LEAVE'){
          if (remoteRtcPeerId === messageObj.messageData.peerId){
            EndCall();
          }
      }else if (messageObj.messageId === 'PROXY'){
          if (messageObj.type === 'start_call'){
              StartCall(false,messageObj.fromPeerId);
          }else if (messageObj.type === 'receive_call'){
              CreateOffer();
          }else if (messageObj.type === 'sdp'){
              if (messageObj.messageData.sdp.type ==='offer'){
                  HandleOfferSdp(messageObj.messageData.sdp);
              }else if (messageObj.messageData.sdp.type ==='answer'){
                  HandleAnswerSdp(messageObj.messageData.sdp);
              }else {

              }
          }else if (messageObj.type === 'candidate'){
              HandleCandidate(messageObj.messageData.candidate);
          }else {

          }
      }
  }
</script>
</html>